<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kraken</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:700,500,400,200,100,100italic,300,300italic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
  </head>
  <body>
      <nav class="navbar bg-deep-purple-900 text-normal navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
          <a class="navbar-brand" href="#">Kraken</a>
          <li class="nav-item">
            <%= link "Dashboard", to: dashboard_path(@conn, :index), class: "nav-link" %>
          </li>
          <li>
            <%= link "Connections", to: connection_path(@conn, :index), class: "nav-link" %>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-xs-right">
          <li>
            <%= link "Log out", to: session_path(@conn, :destroy), method: :delete, class: "nav-link" %>
          </li>
        </ul>
    </div>
      </nav>

    <div class="content-wrapper">
      <div class="container">
        <%= get_flash(@conn, :info) %>
        <%= get_flash(@conn, :error) %>

        <%# <%= render "navigation.html", current_user: @current_user, conn: @conn %1> %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
